#!/bin/bash

#  @file $RCSfile: mk.tmpl,v $
#  general description of this module
#  $Id: mk.tmpl,v 1.5 2009-01-13 02:36:45 kent Exp $
#  @author $Author: kent $
#  @date $Date: 2009-01-13 02:36:45 $
#  @version $Revision: 1.5 $
#  @note Editor: Vim 6.1, Gcc 4.0.1, tab=4
#  @note Platform: Linux



